html,
body {
  background: #090909;
}

body {
  font-family: sans-serif;
  color: #c9c9c9;
  font-size: 1.25rem;
}

#nodeWrapper {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.result {
  margin: 16px 0 32px;
}

.selector {
  display: block;
}
